
#options, #popup {
	font: normal 12px arial, serif;
	background: #C9F8B7;
	overflow-x: hidden;
	}	
#wrapper {
	width: 600px;
	position: relative;
	background: #A3DE8F;
	}

.uglovoi, .shtrafnoi, .offside, .zamena, .goal, .penaliti, .smena_taktiki, .extra_time, .travma, .jeltaia, .krasnaia {
	float: right;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	bottom:0;
	right:0;
	width: 36px;
    height: 36px;
}
/*
* {
    box-sizing: border-box;
}

.cback33 {
    height: 34px !important;
}
*/
.uglovoi {
	background-image: url('http://pefl.ru/system/img/icons/Soccer%20Corner.png');
}

.shtrafnoi {
	background-image: url('http://pefl.ru/system/img/icons/Referee.png');
}

.offside {
	background-image: url('http://pefl.ru/system/img/icons/011.png');
}

.zamena {
	background-image: url('http://pefl.ru/system/img/icons/Player%20Change.png');
}

.goal {
	background-image: url('http://pefl.ru//system/img/icons/Football%202.png');
}

.penaliti {
	background-image: url('http://pefl.ru/system/img/icons/Penalty.png');
}

.smena_taktiki {
	background-image: url('http://pefl.ru/system/img/icons/Strategy%20Board.png');
}

.extra_time {
	background-image: url('http://pefl.ru/system/img/icons/Stopwatch-32.png');
}

.travma {
	background-image: url('http://pefl.ru/system/img/icons/Doctors%20Bag.png');
}

.jeltaia {
	background-image: url('http://pefl.ru/system/img/icons/Soccer%20Yellow%20Card.png');
}

.krasnaia {
	background-image: url('http://pefl.ru/system/img/icons/Foul.png');
}